.hero{
   width: 100vw; 
   height: 100vh;
   position: relative;
}
.landing_image{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 0;
}
.text_box{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 2%;
    padding-top: 10%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}
.text{
    position: relative;
    width: 100%;
    height: auto;
    min-height: 300px;
    border-radius: 20px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1px;
    align-content: center;
    background-color: rgb(0, 0, 0 , 0.4);
    border-color: rgb(255, 255, 255,0.5);
    border-style: double;
  
}
.welcome_box{
    position: relative;
    height: auto;
    min-height: 20vh;
    width: 300px;
    z-index: 1;
}
.text p{
    width: 60%;
    height: auto;
    white-space: pre-wrap;
    text-align: left;
}
.out_bound{
    position: absolute;
    width: 100%;
    max-width: 300px;
    bottom: 10%;
    left: 5%;
    text-align: end;
    z-index: 1;
}
.out_bound i{
    font-size: 10rem;
}